.LoginBkg {
  background-color: #363740;
  min-height: 100vh;
  position: relative;
}

.LoginForm {
  background: #fff;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  padding: 30px;
}

.SignupForm {
  background: #fff;
  border-radius: 10px;
  width: 800px;
  margin: auto;
  padding: 30px;
}

.LoginLabels {
  color: #9fa2b4;
}

.Text-Logo {
  color: #FF6E15;
  font-weight: 600;
  font-size: 3em;
}

h1 .Text-Logo:focus,
h1 .Text-Logo:hover,
h1 .Text-Logo:link,
h1 .Text-Logo:visited,
h1 .Text-Logo:active {
  text-decoration: none;
}

.Nav-logo {
  margin-bottom: 70px;
  text-align: center;
}

.Container-Login {
margin-top: 200px;
}

.Container-Login h2{
  margin-bottom: 40px;
  }

.signupButton {
  margin-top: 20px;
}

.Required {
  color: red;
}