@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500;700&display=swap');

html {
  background-color: #f7f8fc;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Muli', 'Comfortaa', Arial, Helvetica, sans-serif;
  background-color: #f7f8fc !important;
  --bg-nav: #363740;
}

h3 {
  font-size: 1rem !important;
}

p,
h1,
h2,
h3,
label,
tr,
th,
td {
  font-family: 'Muli', Arial, Helvetica, sans-serif;
}

.ButtonAction {
  text-align: center;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
}

.Action {
  background-color: #FF6E15;
}
.Action:hover {
  background-color: #C0562A;
}

.ButtonAction:focus {
  outline: none;
}

/* FAS ICONS */

.fas {
  margin-right: 20px;
}

.fas:focus {
  outline: none;
}

a .fa-pen {
  color: #000 !important;
}

a .fa-pen:hover {
  color: #555 !important;
}

.fa-trash:hover {
  color: #ff5733;
}

.fa-power-off:hover {
  color: #ff5733;
}