@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500;700&display=swap');

html {
  background-color: #f7f8fc;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Muli', 'Comfortaa', Arial, Helvetica, sans-serif !important;
  background-color: #f7f8fc !important;
  --bg-nav: #363740;
}

h3 {
  font-size: 1rem !important;
}

h1 a:link {
  text-decoration: none;
}

#h1 a{
  text-decoration:none;
}

a > h1 {
  text-decoration: none;
}

p,
h1,
h2,
h3,
label,
tr,
th,
td {
  font-family: 'Muli', Arial, Helvetica, sans-serif;
}

.ButtonAction {
  text-align: center;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
}

.ButtonOffer {
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.Action {
  background-color: #FF6E15;
}
.Action:hover {
  background-color: #C0562A;
}

.OfferBtn {
  background-color: #007BFF;
}
.OfferBtn:hover {
  background-color: #0068D9;
}

.OfferBtn:disabled,
.OfferBtn[disabled] {
  background-color: #666666;
  cursor: not-allowed;
}

.FavoriteBtn {
  background-color: #29A745;
}
.FavoriteBtn:hover {
  background-color: #228838;
}

.ProfileBtn {
  background-color: #FFC108;
}
.ProfileBtn:hover {
  background-color: #E0A800
}

.ParamsBtn {
  background-color: #DC3545;
}

.ParamsBtn:hover {
  background-color: #C82333;
}



.ButtonAction:focus {
  outline: none;
}

/* FAS ICONS */

.fas {
  margin-right: 20px;
}

.fas:focus {
  outline: none;
}

a .fa-pen {
  color: #000 !important;
}

a .fa-pen:hover {
  color: #555 !important;
}

.fa-trash:hover {
  color: #ff5733;
}

.fa-power-off:hover {
  color: #ff5733;
}

.fas:focus {
  outline: none;
}